[Desktop Entry]
Encoding=UTF-8
Name=Mitocoin Wallet
Comment=Mitocoin wallet
Exec=mitocoinwallet %U
Terminal=false
Type=Application
Icon=mitocoin
MimeType=x-scheme-handler/mitocoin;
Categories=Office;Finance;
